/*
===================
comment
===================
*/
* {
    box-sizing: border-box;
}
html {
    height: 100%;
    
}

body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", "sans-serif";
    
}

.container {
    height: 100%;
    
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #023047;
    font-size: 16px;
    position: fixed;
}

.main {
    float: right;
    width: 80%;
    height: 100%;
    background-color: white;
}

.content {
    padding: 50px 50px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(../Images/nature4.jpg);
    background-size: cover;
    height: 100%;
    
}

.content2 {
    padding: 50px 50px;
}

hr {
    border-top: 1px dotted white;
}


/*
===================
SIDE-BAR
===================
*/

.sitelogo {
    width:200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}
.sitelogo a {
    text-decoration: none;
}

.sitename {
    text-align: center;
    color: white;
    margin-top: -5px;
    font-weight: bold;
    background-color: green;
    padding: 5px;
   

}

.sitename a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.sitename a:hover {
    color: lightgrey;
}


.sidebar ul {
    width: 100%;
    margin:0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    padding-left: 30px;
    line-height: 40px;
}

.sidebar ul li:hover {
    background-color: hotpink;
}


.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 40px;
    cursor: pointer;
}

.active {
    background-color: green;
}

.social ul li {
    display: inline-block;
    padding-left: 20px;
    
}

/*
===================
homepage
===================
*/


.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }
  

  .hero-text h1, p  {
      font-size: 25px;
  }

  .hero-text ul li {
    list-style: none;
    border: 1px solid white;
}


.hero-img ul li a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

.hero-text ul li:hover {
   background-color: grey; 
}

  
/*
===================
About
===================
*/
.SCT  {
    text-align: center;
    text-transform: uppercase;
}

/* Create four equal columns that floats next to each other */
.column1 {
    float: left;
    width: 33.33%;
    text-align: center;
    background-color:#023047;
    color: white;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  .clients img {
      width: 100px;
      height: 100px;
  }

.clients ul li {
    display: inline-block;
    padding: 10px;
    
}

.column2 {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    column-gap: 40px;
    color: white;
   
  }

  .card {
 background-color: #023047;
  align-items: center;
  border-radius: 10px 50px;
  color: white;
 
  
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 15px 50px;
 }

  
/*
===================
Contact
===================
*/

/*Set the size of the div element that contains the map */
#map {
  height: 200px;
  /* The height is 400 pixels */
  width: 20%;
  /* The width is the width of the web page */
}